{% extends 'base.html.twig' %}

{% block pagetitle %}Ajout de Lien{% endblock %}

{% block body %}

    <div class="container">
        <h5 style="display: inline;">Bienvenue {{ app.user.username }}</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('app_logout') }}" class="btn btn-outline-primary btn-sm">Déconnexion</a><span style="float: right; margin-right: 45px;"">{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('user_manage') }}">Gestion utilisateurs</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('home') }}">
                Accueil
            </a></span>
        <br>
        <br>
        <h1>Ajout/Edition de lien</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
        <input type="submit" value="Enregistrer" class="btn btn-primary" />
        </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}