{% extends 'base.html.twig' %}

{% block body %}

    <h3 style="display: inline;">Bienvenue {{ app.user.username }}</h3>&nbsp&nbsp&nbsp<a href="{{ path('app_logout') }}">Déconnexion</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('user_manage') }}">Gestion utilisateurs</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('home') }}">
        Accueil
    </a>
    <br/>
    <br/>
    <br/>
    <form method="post" action="{{ path('search') }}">
		<input type="search" placeholder="Recherche (pour les dates le format est aaaa-mm-jj ; ex:post du 8 décembre -> 12-08 ; post du 8 de chaque mois de 2018 -> 2018-%-08 )" name="motcle" style="width: 100%;">
        <input type="submit" value="Rechercher" style="float: right;">
	</form>
    <br/>
    <a href="{{ path('add') }}">
        Ajouter un lien
    </a>    
    {% for link in links %}
        <div>
	        <h3>
	            <a href="{{ path("view", {id: link.id}) }}">
	                {{ link.nom }}
	            </a>
	            <br/>    
	            <a href="{{ link.cible }}" target="_blank">
	                {{ link.cible }}
	            </a>
	        </h3>
		        <p>Publié(e) par {{ link.auteur }} le {{link.datepubli|date('d/m/Y')}}</p>
        </div>
    {% endfor %}
{% endblock %}



