{% extends 'base.html.twig' %}

{% block pagetitle %}Détail du Lien{% endblock %}

{% block body %}
    <div class="container">
    <h5 style="display: inline;">Bienvenue {{ app.user.username }}</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('app_logout') }}" class="btn btn-outline-primary btn-sm">Déconnexion</a><span style="float: right; margin-right: 45px;"">{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('user_manage') }}">Gestion utilisateurs</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('home') }}">
                Accueil
            </a></span>
    <br>
    <br>
    
        <h1>
            {{ link.nom }}
        </h1>
        <p>Publié(e) par {{ link.auteur }} le {{link.datepubli|date('d F Y')}}</p>
        <br>
        <p>
            {{ link.description }}
        </p>
        <p>
            <a href="{{ link.cible }}" target="_blank">{{ link.cible }}</a>&nbsp;
            <a href="{{ path('edit', {id : link.id}) }}">Editer</a>&nbsp;
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('delete', {id : link.id}) }}">Supprimer</a>
            {% endif %}
        </p>
    </div>
{% endblock %}
