{% extends 'base.html.twig' %}

{% block pagetitle %}Gestion des utilisateurs{% endblock %}

{% block body %}
	<div class="container">
    <h5 style="display: inline;">Bienvenue {{ app.user.username }}</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('app_logout') }}" class="btn btn-outline-primary btn-sm">Déconnexion</a><span style="float: right; margin-right: 45px;"">{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('user_manage') }}">Gestion utilisateurs</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('home') }}">
                Accueil
            </a></span>
    <br/>
    <br/>
    <br/>
    
	    <h1 style="text-align: center;">Gestion des utilisateurs</h1>
	    <form method="post" action="{{ path('search_user') }}">
	        <input type="search" placeholder="Recherche" name="motcle" style="width: 100%;">
	        <input type="submit" value="Rechercher" class="btn btn-primary" style="float: right;">
	    </form>
	    <br/>   
	    <table style="font-size: 1.5em; width: 100%;">
	        <thead style="background-color: black; color:#fff;">
	            <tr>
	                <td style="text-align: center;">Id</td>
	                <td style="text-align: center;">Username</td>
	            </tr>   
	        </thead>
	        <tbody>
	            {% for user in users %}
	            <tr>
	                <td style="border: 1px solid #333; color: #0056b3; width: 20%; text-align: center;">{{ user.id }}</td>
	                <td style="border: 1px solid #333; color: #0056b3; width: 60%; text-align: center;">{{ user.username }}</td>
	                <td style="border: 1px solid #333; width: 20%; text-align: center;"><a href="{{ path('delete_user', {id : user.id}) }}">Supprimer</a></td>
	            </tr>
	            {% endfor %}
	        </tbody>
	    </table>
	</div>
{% endblock %}

